{% for tweet in tweets %}
<div class="card tweet mb-3 w-100" style="width: 18rem;">
    <div class="card-header">
        <h5>{{ tweet.pseudo }}</h5>
        <span class="text-muted tweetDate">{{ tweet.date | date('d/m/Y H:i:s') }}</span>
    </div>
    <div class="card-body">
        <p class="card-text">{{ tweet.tweet }}</p>
        <a href="#" class="card-link">like</a>
        <a href="#" class="card-link">retweet</a>
    </div>
</div>
{% endfor %}
