body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }
  body header {
    box-shadow: 2px 2px 5px grey;
    padding: 0 20px; }
    body header .pseudoFrame {
      text-align: right;
      line-height: 50px; }
  body main {
    padding: 50px; }
    body main .tweet .card-header {
      position: relative; }
      body main .tweet .card-header .tweetDate {
        position: absolute;
        right: 5px;
        bottom: 5px;
        font-size: .7em; }

a {
  color: #00B7FF; }

/*# sourceMappingURL=style.css.map */