body {

  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  header {
    box-shadow: 2px 2px 5px grey;
    padding: 0 20px;
    .pseudoFrame {
      text-align: right;
      line-height: 50px;
    }
  }
  main {
    padding: 50px;

    .tweet {
      .card-header {
        position: relative;
        .tweetDate {
          position: absolute;
          right: 5px;
          bottom: 5px;
          font-size: .7em;
        }
      }
    }
  }
}
a {
  color: #00B7FF
}
